[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "IsoSpecR"]
	path = IsoSpecR
	url = https://github.com/matteolacki/isospec
	shallow = true
	subdir = IsoSpecR
	registered = true
[submodule "timsr"]
	path = timsr
	url = https://github.com/matteolacki/timsr
	shallow = true
	registered = true
